/* 
    Autor.- Javier Nieto 
    Fecha de modificacion.- 2020/09/29
 */

@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@font-face {
  font-family: "Bangers";
  src: url(../fonts/Bangers-Regular.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Medium.ttf);
}
* {
  box-sizing: border-box;
  font-family: "Bangers";
}

html {
  max-width: 100vw;
  max-height: 100vh;
}

body {
  width: 100%;
  margin: 0px;
}

/* -------- HEADER -------- */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 10px;
}

header > h1 {
  height: 40px;
  margin: 5px 0px;
  text-align: center;
  font-size: 45px;
}

.github > img {
  width: 40px;
}

/* -------- NAV -------- */

nav {
  margin: 0px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(255 137 0 / 0.74);
  position: sticky;
  top: 0px;
}

nav > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  margin: 0px;
  padding: 0px;
  height: 100%;
}

nav > ul > li a {
  text-decoration: none;
  color: white;
  font-size: 40px;
}

.active a {
  color: black;
}

.active:hover {
  transform: none;
}

nav > ul > li:hover {
  transform: scale(1.5);
}

nav > ul > li a:hover {
  color: black;
}

/* -------- MAIN -------- */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: calc(100vh - 150px);
  margin: 20px; 
}
.content{
    margin-bottom: 20px; 
}
.content th, .content td, .content td a{
    font-family: "Roboto";
    font-size: 20px;
}

.content th{
    
    padding-left: 5px;

}

.content a, .content td a{
    text-decoration: none; 
    color: black;
    
}

.content tr>td>a>img{
    width: 40px;
    display: block;
    margin: auto auto;
}



/* -------- FOOTER -------- */

footer {
  height: 50px;
  text-align: center;
  background-color: #908c8c75;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer > address {
  font-size: 20px;
  padding: 10px 10px;
}

.info {
  max-width: 550px;
  max-height: 400px;
  border: 2px solid grey;
  text-align: justify;
  font-size: 23px;
  padding: 10px 10px;
}

.info,
.info li {
  font-family: "Roboto";
}

.logo {
  margin: 4px 0px;
  width: 28%;
  max-width: 280px;
}
